@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("~assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Roboto-Italic.ttf") format("truetype");
}

/* Default page transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

:root body {
  --color: #24292e;
  --color-primary: #24292e;
  --color-secondary: #24292e;
  --bg: #ffffff;
  --bg-secondary: rgba(255, 255, 255, 0.15);
  --border-color: #ddd;
}

.dark-mode body {
  --color: #fafbfc;
  --color-primary: #fafbfc;
  --color-secondary: #fafbfc;
  --bg: #24292e;
  --bg-secondary: rgba(36, 41, 46, 0.15);
  --border-color: #ddd;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--bg);
  color: var(--color);
}
